<template>
  <component :is="$store.state.isMobile ? 'test-mobile' : 'test-desktop' " class="test"/>
</template>

<script>
  export default {
    layout: cx => {
      return cx.store.state.isDesktop ? 'desktop/default' : 'mobile/default'
    },
    mounted () {
      document.body.classList = this.$store.state.isDesktop ? 'desktop' : 'mobile'
    },
    components: {
      'test-desktop': require('~/components/desktop/Test.vue').default,
      'test-mobile': require('~/components/mobile/Test.vue').default
    }
  }
</script>
